<div class="table-responsive" data-bind="visible: showForm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: projects">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: description"></td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary" data-bind="click: $root.editProjectClick">Edit</button>
                    <button class="btn btn-primary" data-bind="click: $root.getProjectResource">Resource Detail</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-bind="click: $root.deleteProjectClick">Delete Project</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" data-bind="click: createProjectClick">Create Project</button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Project</h4>
            </div>
            <div class="modal-body">
                Do you want to delete Project "<b data-bind="text: deleteProjectText"></b>"
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bind="click: deleteProject">Delete</button>
            </div>
        </div>
    </div>
</div>