<div class="table-responsive" data-bind="visible: showForm">
    <button class="btn btn-primary" data-bind="click: goBack" style="margin-bottom: 25px;">Go Back</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: resources">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <td data-bind="text: email"></td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#deleteResourceModal" data-bind="click: $root.removeResourceClick">Remove Resource</button>
                </td>
            </tr>
        </tbody>
    </table>
    <select id="addResource" data-bind="foreach: notProjectResources" style="margin-bottom: 0;">
        <option data-bind="text: firstName, value: id"></option>
    </select>
    <button class="btn btn-primary" data-bind="click: addResouceClick">Add Resource To Project</button>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteResourceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Remove Resource</h4>
            </div>
            <div class="modal-body">
                Do you want to remove Resource "<b data-bind="text: removeResourceText"></b>" from the current project?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bind="click: removeResource">Remove</button>
            </div>
        </div>
    </div>
</div>